{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1> {{ book.title }}</h1>
    <div><img class="image" src= "{{ book.image.url }}"> </div>

    <p><strong>Author:</strong><a href="{% url 'author-detail' book.author.pk %}"> {{ book.author }}</a></p>
    <p style="width:80%;"><strong>Summary:</strong> {{ book.summary }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
    <p><strong>Language:</strong> {{ book.language }}</p>  
    <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>
    <p><strong>Price:</strong> {{ book.price }}</p>
<!--
    <div style="margin-left:20px; margin-top:20px">
        <h4>Inventory</h4>

        {% for copy in book.instance_set.all %}
            <hr>
            <p class="{% if copy.status == 'i' %}text-success{% else %}text-warning{% endif %}">
                {{ copy.get_status_display }}
            </p>
            
            <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
            <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
        {% endfor %}

    </div>
-->
{% endblock %}