{% extends "base.html" %}
{% block title %}
<title>Records</title>
{% endblock %}
{% block content %}
  
  <h3>The book store has the following record counts:</h3>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Number of Orders:</strong> {{ num_order }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
    <li><strong>Fiction Books:</strong> {{ num_books_fiction }}</li>
    <li><strong>Children's Books:</strong> {{ num_books_children }}</li>
    <li><strong>Classic Books:</strong> {{ num_books_classics }}</li>
  </ul>
{% endblock %}